*.elc
#*#
*~
abbrev_defs
bookmarks
/history
/recentf
/transient/
/eshell/
/projects
/tramp
/url/
/straight/
/server/
/.org-id-locations
/codeium/
/elpa/
/eln-cache/
/diary
/cnfonts/
/org-persist/
/newsticker/
/network-security.data
